<div>
        <img src=<%= results.bookImg %>>
        <h5><%= results.title %></h5>
        <p><%= results.author %></p>
        <p><%= results.description %></p>
        <p><%= results.ISBN %></p>
        <p><%= results.bookshelf %></p>
</div>