<div>
        <img src=<%= results[0].bookImg %>>
        <h5><%= results[0].title %></h5>
        <p><%= results[0].author %></p>
        <p><%= results[0].description %></p>
        <p><%= results[0].ISBN %></p>
        <p><%= results[0].bookshelf %></p>
</div>