<div class="book-div">
    <img src=<%= bookInst[0].image_url %>>
    <h5><%= bookInst[0].title %></h5>
    <p><%= bookInst[0].author %></p>
    <p><%= bookInst[0].description %></p>
    <p>ISBN: <%= bookInst[0].ISBN %></p>
    <p><%= bookInst[0].bookshelf %></p>
</div>