<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../../layout/head.ejs")%>
</head>
<body>
  <header>
    <%- include("../../layout/header.ejs")%>
  </header>
  <section>
    <p>Search Results</p>
  </section>
  <main>
    <% results.forEach(book => { %>
        <div>
            <img src=<%= book.bookImg %>>
            <h5><%= book.title %></h5>
            <p><%= book.author %></p>
            <p><%= book.description %></p>
        </div>
    <% }) %>
  </main>
  <footer>
      <input type="radio"><input type="radio"><input type="radio"><input type="radio">
  </footer>
</body>
</html>