<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Best Books</title>
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
</head>
<body>
  <header>
    <p>Best Books!<p>
    <nav>
      <img src="http://placeholder.it/30x30">
    </nav>
  </header>
  <section>
    <p>Search by Title or Author</p>
  </section>
  <main>
    <form action="/searches" method="post">
      <input type="text" name="search" placeholder="Enter a title or author">
      <fieldset>
        <label for="title">
          <span>Title</span>
          <input type="radio" name="search" value="title">
        </label>
      </fieldset>
      <fieldset>
          <label for="author">
            <span>Author</span>
            <input type="radio" name="search" value="author">
          </label>
      </fieldset>  
      <button type="submit">Search the Google Books API</button>    
    </form>
    <% results.forEach(book => { %>
      <div>
        <ul>
          <li>Author: <%= book.author %></li>
          <li>Title: <%= book.title %></li>
          <li>Description: <%= book.description %></li>
          <li>ISBN: <%= book.isbn %></li>
          <li>Bookshelf: <%= book.bookshelf %></li>
        </ul>
      </div>
    <% }) %>
  </main>
  <footer>
      <input type="radio"><input type="radio"><input type="radio"><input type="radio">
  </footer>
</body>
</html>