<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../layout/head.ejs")%>
</head>
<body>
  <header>
    <%- include("../layout/header.ejs")%>

  </header>
  <section>
    <p><%= bookInst.length %> - Saved Books</p>
  </section>
  <main>
    <%- include('books/detail.ejs')%>
  </main>
  <footer>
      <%- include("../layout/footer.ejs")%>
  </footer>
</body>
</html>