<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../layout/head.ejs")%>
</head>
<body>
  <header>
    <%- include("../layout/header.ejs")%>
  </header>
  <section>
    <p>Search by Title or Author</p>
  </section>
  <main>
    <div>Total Books: <%= bookInst.length %></div>
    <% bookInst.forEach(book => { %>
      <div>
        <ul>
          <li>Author: <%= book.author %></li>
          <li>Title: <%= book.title %></li>
          <li>Description: <%= book.description %></li>
          <li>ISBN: <%= book.isbn %></li>
          <li>Bookshelf: <%= book.bookshelf %></li>
        </ul>
      </div>
    <% }) %>

  </main>
  <footer>
      <input type="radio"><input type="radio"><input type="radio"><input type="radio">
  </footer>
</body>
</html>